<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
            font-family: algerian;
            font-size: 70px;
            text-align: center;
            text-decoration: underline red;
            padding: 5px;
        }
        input, label{
            font-family: arial, sans-serif;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <h1><--------Delete Page--------></h1>
    <form action="/deletedata">
      <label for="rollid">Roll ID:</label><br>
      <input type="number" id="rollid" name="rollid" placeholder="171001001000"><br><br>
      <input type="submit" value="Press to Delete">
    </form>
</body>
</html>